@use 'base/variables'as v;
@use 'base/mixins'as m;

.features {
    padding: 3rem 1.5rem;
    .features-grid {
        @include m.desktop {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                padding: 2rem 0;
            }
        }
    }
}