@use 'base/variables'as v;
@use 'base/mixins'as m;

.downloads {
    .downloads-content {
        padding: 3rem 1.5rem;

        @include m.tablet {
            max-width: 65rem;

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 2rem;

                .button {
                    display: inline;
                    width: 30%;
                }
            }
        }
    }
}